:root {
  --grey: #62646a;
  --mint: #f5f5f5;
  --red: red;
  --black: black;
  --white: white;
  --green: green;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--mint);
}

/*=================
      HEADER
==================*/
.register {
  border: 2px solid green;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}
header nav {
  display: flex;
  background-color: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 0.5rem;
  justify-content: space-around;
  margin: 1rem auto;
}
header nav .main-logo {
  height: 40px;
  margin-left: 1rem;
}
header nav .box-nav .logo-menu {
  height: 60px;
  color: var(--white);
}
header nav .box-nav .liste-nav.active {
  height: 50vh;
  display: block;
  text-align: center;
  left: 0;
  color: var(--white);
  padding-top: 3rem;
  transition: 1s;
  width: 100%;
}
header nav .box-nav .liste-nav.active li {
  padding: 0.5rem;
}
header nav .box-nav .liste-nav {
  list-style-type: none;
}
header nav .box-nav .liste-nav li a {
  text-decoration: none;
  font-size: large;
  color: var(--grey);
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .logo-menu {
    display: flex;
  }

  .liste-nav {
    position: fixed;
    width: 100%;
    display: none;
    flex-direction: column;
  }
}
@media screen and (min-width: 1100px) {
  .logo-menu {
    display: none;
  }

  .about h1 {
    font-size: xx-large;
  }

  .liste-nav {
    display: inline-flex;
  }
  .liste-nav li {
    padding: 0 0.5rem;
  }
  .liste-nav li a {
    font-size: large !important;
  }
}

.box-nav ul {
  margin-top: 10px !important;
}

/*=================
  Mostly Searched
==================*/
.mostly-searched {
  padding-top: 20rem;
  width: 95%;
  margin: auto;
}
.mostly-searched h3 {
  font-weight: bold;
}
.card-all-ms,
.card-all-ms-6 {
  text-align: center;
  padding: 0.8rem 0;
}
.card-ms {
  display: inline-block;
  max-width: 400px;
  height: 300px;
}
.card-ms img {
  width: 400px;
  height: 300px;
}
.card-ms-little {
  display: inline-block;
  max-width: 265px;
  height: 200px;
}
.card-ms-little img {
  width: 265px;
  height: 200px;
}
.card-ms h5 {
  text-align: center;
  background-color: var(--white);
  padding: 0.8rem;
}
/*=================
  jean-guy
==================*/
/*caroussel*/
.carousel {
  display: inline-block;
  padding-top: 100px;
}
.carousel-item {
  height: -100px;
}

/*bouton*/
.container {
  width: auto;
}

/*slider*/
.pieces-slider {
  position: relative;
  text-align: center;
  padding: 8rem 0;
}

.js .pieces-slider {
  padding: 0;
}

/* Make all slides absolutes and hide them */
.js .pieces-slider__slide {
  position: absolute;
  right: 100%;
}

/* Define image dimensions and also hide them */
.pieces-slider__image {
  max-width: 600px;
  max-height: 400px;
}

.js .pieces-slider__image {
  visibility: hidden;
}

/* Hide the titles */
.js .pieces-slider__text {
  text-indent: -9999px;
}

/* Canvas with viewport width and height */
.js .pieces-slider__canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: 0.2s opacity;
}

/* Class for when we resize */
.pieces-slider__canvas--hidden {
  opacity: 0;
  transition-duration: 0.3s;
}

/* Navigation buttons */
.pieces-slider__button {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -25px 0 0 0;
  background-color: #5104ab;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.1s background-color;
}

.pieces-slider__button:hover {
  background: #5f3abf;
}

.pieces-slider__button--next {
  left: auto;
  right: 0;
}

/* Hide the buttons when no JS */
.no-js .pieces-slider__button {
  display: none;
}

/* Media queries with styles for smaller screens */
@media screen and (max-width: 720px) {
  .pieces-slider__image {
    max-width: 300px;
  }
}

@media screen and (max-width: 55em) {
  .pieces-slider__canvas {
    width: 100vw;
    height: 100vw;
  }
  .pieces-slider__button {
    width: 60px;
    height: 60px;
  }
}
/*=================
 fin jean-guy
==================*/
