<form method="post" action="{{ path('profile_product_delete', {'userId':app.user.id, 'productId': product.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn">Supprimer</button>
</form>
