<nav>
	<a href="/"><img class="main-logo" src="{{ asset('assets/img/logo/discount.png') }}" alt="Logo du site fiverr discount"></a>
	<div class="box-nav">
		<img src="{{ asset('assets/img/hamburger/menu.svg') }}" alt="hamburger-logo" class="logo-menu">
		<ul class="liste-nav">
			<li class="nav-link">
				<a href="/">Accueil</a>
			</li>
			<li class="nav-link">
				<a href="/#a-propos">Se connecter</a>
			</li>
			<li class="nav-link register">
				<a href="/#competences">S'inscrire</a>
			</li>
		</ul>
	</div>
</nav>
